body {
	margin: 0;
	padding: 0;
}
#map {
	position: absolute;
	top: 0;
	bottom: 50px;
	width: 100%;
}
.button-container {
	position: absolute;
	height: 50px;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: rgb(30, 30, 30);
}
.button {
	margin: 0 4px;
	border-radius: 2rem;
	cursor: pointer;
}
